*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


::-webkit-scrollbar {
    width: 15px;
  
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2b2b2b;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d8004a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  

body{
    overflow-x: hidden;
    position: relative;
    background-color: #1f2129;
}

.reload{
    width: 100%;
    height: 100vh;
    background-color: #00000085;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reload img{
    width: 150px;

}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}

.name{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name h3{
color: #fff;
font-size: 40px;
text-transform: uppercase;
text-align: center;
}

.name .name-mark{
    display: block;
    width: 30px;
    height: 30px;
    background: #1f2129;
    border-radius: 50%;
    border: 2px solid #E91E63;
    position: relative;
}

.name .name-mark::before{
    content: "";
    background-color: #E91E63;
    position: absolute;
    left: -35px;
    top: 50%;
    width: 100px;
    height: 1px;
    z-index: -5;


}


/* ////////////////////////////////////////// */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0 25px;

}

header .logo{
    width: 100px;
}

/* phone */
.menu{
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.abuet-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background: #0000008f;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abuet-menu .fa-xmark{
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 50px;
    transform: translateX(-50%);
    background: #e91e636e;
    backdrop-filter: blur(10px);
    border-radius: 5px;

}

.abuet-menu .fa-xmark:hover{
    color: #E91E63;
    
}



.abuet-menu ul li{
list-style: none;
border-bottom: 2px solid #fff;
padding: 25px;
text-align: center;
width: 100vh;
}
.abuet-menu ul li:last-child{
    border-bottom: none;
    }

.abuet-menu ul li .active{
    color: #E91E63;

}



.abuet-menu ul li a{
text-decoration: none;
color: #fff;
font-size: 60px;
text-transform: uppercase;
}

.abuet-menu ul li a:hover{
    color: #E91E63;

    }



/* phone */


.abuet ul{
    display: flex;
}

.abuet ul li{
    margin: 20px;
    list-style: none;
}

.abuet ul li a{
    text-decoration: none;
    color: azure;
    font-size: 25px;
    text-transform: uppercase;
    
}
.abuet ul li a:hover{
color: #E91E63;
}

.abuet ul li .active{
    color: #E91E63;
}










/* start div-video */


.div-video{
    position: relative;
}

.div-video .cont{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.div-video .cont h1{
    color: #fff;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
}

.div-video .cont P{
    color: #ccc;
    text-align: center;
    
}


#video{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}



.empty{
    width: 100%;
    height: 100%;
    background-color: rgba(20, 23, 36, 0.811);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}

.cont-span{
    color: #E91E63;
}


/* start button */

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.button:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.button:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
    transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
    transform: translateY(0);
}

.button span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.button:hover span:nth-child(1) {
    left: 50%;
}

.button span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.button:hover span:nth-child(3) {
    right: 50%;
}

.button span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.button:hover span:nth-child(2) {
    top: 50%;
}

.button span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.button:hover span:nth-child(4 ) {
    bottom: 50%;
}


  /* end button */


/* .div-video .scroll{
    position: absolute;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
} */


@media (max-width: 767px) {

    .abuet ul{
        display: none;
    }

    .menu{
        display: flex;
    }
    

    .div-video .cont h1{
        font-size: 40px;

    }
    
    .div-video .cont P{
        font-size: 14px;
        
    }

}


/* end div-video */





/* start our-service */


.service-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 95vh;
    padding-bottom: 150px;
    padding-top: 150px;
}

@media (max-width: 767px) {
    .service-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
        padding-bottom: 150px;
        padding-top: 0;
    }
}

.service-card .box{
    width: 300px;
    height: 170px;
    margin: 20px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow:  0 0 10px 0px #E91E63;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.service-card .img-1{
background-image: url(../img/skillrun_class_prestige_solution.jpg);
background-size: cover;
background-position: top;
position: relative;
}

.service-card .img-1::before,
.service-card .min::before,
.service-card .img-3::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: #00000058;
border-radius: 12px;
}


.service-card .min{
    transform: translateY(-40px);
    background-image: url(../img/portrait-super-fit-muscular-young-man-working-out-gym-with-barbell-scaled.jpg);
background-size: cover;
background-position: 0 -28px;
position: relative;
}

.service-card .img-3{
    background-image: url(../img/top-5-nutritiontal-resolutions-for-the-new-year-fb.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    }

.service-card .box:hover{
    transform: scale(1.2);
    
}


.service-card .box .img-box{
    width: 90px;
    height: 100px;
    display: flex;
    position: absolute;
    left: 50%;
    top: -44%;
    transform: translateX(-50%);
    background-color: #E91E63;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    justify-content: center;
}

.service-card .box .color-1{
    background-color: #fff;
}

.service-card .box .img-box img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.service-card .box h3{
    color: #E91E63;
    text-transform: uppercase;
    font-size: 30px;
    z-index: 20;
}



@media (max-width: 767px) {
    .service-card .box{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}


.service-card .min{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.service-card .box{
    width: 400px;
    height: 170px;
    margin-top: 70px;
}


}


/* end our-service */



/* start choose-program */


/* #choose{
    width: 100%;
    background-image: url(../img/_Black\ White\ Geometric\ Fitness\ Facebook\ Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.choose-card{
    position: relative;
}

.chooseBox{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition:0.5s ease-in-out ;
    -webkit-transition:0.5s ease-in-out ;
    -moz-transition:0.5s ease-in-out ;
    -ms-transition:0.5s ease-in-out ;
    -o-transition:0.5s ease-in-out ;
}

.chooseBox:hover{
    transform: scale(1.2);

}

.choose-card .img-box{
    width: 90px;
    height: 100px;
    display: flex;
    background-color: #E91E63;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    justify-content: center;
    margin-bottom: 30px;
}
.choose-card .img-box img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}



.choose-card .color-1,
.choose-card .color-2{
    background-color: #fff;
}


.chooseBox h3{
    color: #fff;
    font-size: 22px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-top: 100px;
}



@media (max-width: 767px) {
    .chooseBox h3 {
        font-size: 15px;
    }

    .choose-card {
        width: 90%;
        margin-left: 40px;
    }


}

@media (min-width:768px) and (max-width:835px){
    .choose-card {
        width: 90%;
        margin-left: 187px;
    }

}


/* end choose-program */



/* start img-bord */

#img-bord{
    position: relative;
}




#img-bord img{
    height: 45vh;
width: 100%;
object-fit: cover;

}



#img-bord .empty{
    width: 100%;
    height: 100%;
    background-color:rgb(20 23 36);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}


#img-bord h3{
    position: absolute;
    color: #fff;
    
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 50px;
    z-index: 10;
}

#img-bord .give{
    color: #E91E63;
}


    @media (max-width: 767px) {

        #img-bord h3{
        width: 100%;
        text-align: center;
            font-size: 40px;
        }
        


    }
    
    


/* end img-bord */





/* start img-bord */





.abut{
    width: 100%;
    display: flex;
    background-color: #fff;
    position: relative;
}

.abut .cont-img img{
    
width: 100%;
height: 100%;
object-fit: cover;
}


.trns-1,
.trns-2,
.trns-3{
    width: 100%;
    display: flex;
    background-color: #fff;
    position: relative;
}

#trainers .people{
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -35px;
    z-index: 99;
    width: 100%;

}


@media (max-width: 767px) {
    #trainers .people{
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -35px;
        z-index: 99;
        width: 100%;
    
    }
    
}
    
    

.people a{
    color: #000;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.actiet{
    color: white !important;
    background-color: #E91E63;
    

}

.none{
    display: none;
}


.abut .cont-img{
    width: 50%;
    height: 80vh;
    clip-path: polygon(0 0, 81% 0, 100% 100%, 0 100%);

    /* background-image: url(../img/Young-Muscular-Man-Doing-Lunges-In-Dark-Gym.webp);
    background-size: cover;
    background-position: right */
}


.abut  .cont-abut{
    width: 50%;
}

.abut .cont-abut h2{
    font-size: 40px;
    padding-top: 20px;
    color: #000;
    margin-left: 5px;
    text-transform: uppercase;
}

.abut .cont-abut p{
    font-size: 13px;
    margin-left: 10px;

}

.abut .cont-abut .start{
    margin-left: 10px;
}
.abut .cont-abut .start .str{
font-size: 25px;
color: #ffe707;
padding-top: 5px;
}



.abut .p-cont{
    padding-top: 100px; 
    line-height: 1.9;
}

.abut .p-cont .p-cont-pp{
    font-size: 20px;
}


.abut .sohale{
    position: absolute;
    bottom: 20px;
    left: 65%;
}

.abut .sohale .soh{
color: #000;
font-size: 30px;
margin-left: 20px;
cursor: pointer;
}

.abut .sohale .soh:hover{
    color: #E91E63;
    }




    @media (max-width: 767px) {
    
    
        .abut {
            flex-direction: column;
        }
        .trns-1,
.trns-2,
.trns-3{
    flex-direction: column;
}
        .abut .cont-img {
            clip-path: none;
            width: 100%;
            background-position: 660px;
        }

        .abut .cont-abut {
            width: 100%;
        }

        .abut .sohale {
            width: 100%;
            padding-top: 35px;
            padding-bottom: 35px;
            text-align: center;
            position: relative;
            bottom: 0;
            left: 0;
        }

        .abut .cont-abut h2 {
        text-align: center;
        }

        .abut .cont-abut .start {
            margin-left: 10px;
            text-align: center;
        }

        .abut  .cont-abut p {
            text-align: center;
            margin: 10px;
            text-align: center;
        }
        
        .people a {
            color: #000;
            font-size: 15px;
            padding: 10px;
        }
        
    }
    
    @media (min-width:768px) and (max-width:835px){
        .abut .cont-img {
            clip-path: none;
            background-position: 794px;
        }
    }
    



/* end img-bord */






/* start comments */
.marquee-1{
    height: 200px;
    display: flex;
    align-items: center;
    background: transparent;
}
.marquee-2{
    height: 200px;
    display: flex;
    align-items: center;
    background: transparent;
    margin-bottom: 100px;
}



.alott-comant{
    display: flex;
    gap: 110px;
}




.g-1{
    background-color: #ccc;
    position: relative;
    width: 365px;
    padding: 15px;
    border-radius: 10px;
    white-space: initial;
}
.cont-img-g-1{
    display: flex;
    align-items: center;
    padding-left: 70px;
}


.cont-img-g-1 .img-g-1 {
    width: 70px;
display: flex;
justify-content: center;
align-items: center;
height: 70px;
background: #1f2129;
border-radius: 50%;
position: absolute;
top: -30px;
left: 10px;
}

.cont-img-g-1 .img-g-1 img{
    width: 50px;
}


.cont-img-g-1 .name-stars h4{
    color: #fff;
    text-transform: uppercase;
    margin-top: -10px;
}
.g-1 .cont-g-1{
    padding-top: 10px;
padding-left: 50px;

}

.cont-img-g-1 .start-g-1 .str-g-1{
    color: #ffe707;
}




/* end comments */





/* start Dates */


.tedbl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.dey{
    color: #E91E63;
}

table{
    border: 1px solid white;
    border-collapse: collapse;
}

tr,td,th{
    border: 1px solid white;
    padding: 20px;
    text-align: center;

}

th{
    border: 1px solid white;
    

}

td a{
        color:#fff;

}

th a{
        color:#fff;
        cursor: pointer;
}

th a:hover{
        color:#E91E63;
}



.open{
    color: green;
}

.close{
    color: red;
}

.swipe{
    display: none;
}


@media (max-width: 767px) {

    .tedbl{
        overflow: overlay;
    }
    tr,td,th{
        padding: 10px;
    }
    table {
        margin-left: 285px;
    }

    .swipe{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .swipe img{
        width: 100px;
    }
}


@media (min-width:768px) and (max-width:835px){

}



/* end Dates */








.pries-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
    padding-top: 150px;
}


.pries-box{
    width: 300px;
    height: 700px;
    background-color: #303030;
    margin: 35px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
.pries-box-2{
    width: 300px;
    height: 700px;
    background-color: #303030;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50px);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
@media (max-width: 767px) {
    .pries-box-2{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.empty-box{
    width: 100%;
    height: 100%;
    background-color: rgba(20, 23, 36, 0.811);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}


.box-red:hover{
    box-shadow: 0px 0px 20px 3px #ff0000;
    transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
}

.box-gold:hover{
    box-shadow:  0px 0px 80px 10px #ffe707;
    transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
}

.box-gold{
    background-image: url(../img/c39f3011512f7c3313f94c808025c3e3.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.box-blue{
    background-image: url(../img/3928590c6abf5debc6c7ad59c974b9ad.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
}
.box-red{
    background-image: url(../img/6a60f8868d093c59b91816acb491345a.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
}


.box-blue:hover{
    box-shadow: 0px 0px 20px 3px #0062ff;
    transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
}





.cont-pries-box{
    display: contents;
    z-index: 6666;
}


.cont-pries-box h2{
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 15px;
    color: #fff;
    z-index: 555;
}

.cont-pries-box h4{
    font-size: 45px;
    color: white;
    z-index: 555;
}

.mz{
    z-index: 555;
}
.mz ul{
    list-style: none;
}

.mz ul li{
    width: 295px;
    font-size: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    color: #fff;
}
.mz ul li:last-child{
    border-bottom: none;
}





/* start button */

.div-button-pries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    padding-bottom: 60px;
}

.button-1{
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.button-1:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
}

.button-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.button-1:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button-1 span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button-1:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.button-1 span:nth-child(1),
.button-1 span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.button-1:hover span:nth-child(1),
.button-1:hover span:nth-child(3) {
    transform: translateX(0);
}

.button-1 span:nth-child(2),
.button-1 span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.button-1:hover span:nth-child(1),
.button-1:hover span:nth-child(3) {
    transform: translateY(0);
}

.button-1 span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.button-1:hover span:nth-child(1) {
    left: 50%;
}

.button-1 span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.button-1:hover span:nth-child(3) {
    right: 50%;
}

.button-1 span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.button-1:hover span:nth-child(2) {
    top: 50%;
}

.button-1 span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.button-1:hover span:nth-child(4 ) {
    bottom: 50%;
}


  /* end button */
/* start button */

.div-button-pries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    padding-bottom: 60px;
}

.button-2{
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.button-2:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
}

.button-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.button-2:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button-2 span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button-2:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.button-2 span:nth-child(1),
.button-2 span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.button-2:hover span:nth-child(1),
.button-2:hover span:nth-child(3) {
    transform: translateX(0);
}

.button-2 span:nth-child(2),
.button-2 span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.button-2:hover span:nth-child(1),
.button-2:hover span:nth-child(3) {
    transform: translateY(0);
}

.button-2 span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.button-2:hover span:nth-child(1) {
    left: 50%;
}

.button-2 span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.button-2:hover span:nth-child(3) {
    right: 50%;
}

.button-2 span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.button-2:hover span:nth-child(2) {
    top: 50%;
}

.button-2 span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.button-2:hover span:nth-child(4 ) {
    bottom: 50%;
}


  /* end button */
/* start button */

.div-button-pries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    padding-bottom: 60px;
}

.button-3{
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.button-3:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
}

.button-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.button-3:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button-3 span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button-3:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.button-3 span:nth-child(1),
.button-3 span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.button-3:hover span:nth-child(1),
.button-3:hover span:nth-child(3) {
    transform: translateX(0);
}

.button-3 span:nth-child(2),
.button-3 span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.button-3:hover span:nth-child(1),
.button-3:hover span:nth-child(3) {
    transform: translateY(0);
}

.button-3 span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.button-3:hover span:nth-child(1) {
    left: 50%;
}

.button-3 span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.button-3:hover span:nth-child(3) {
    right: 50%;
}

.button-3 span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.button-3:hover span:nth-child(2) {
    top: 50%;
}

.button-3 span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.button-3:hover span:nth-child(4 ) {
    bottom: 50%;
}


  /* end button */





/* start map */

.service-card .map{
width: 100%;
}
.service-card .map iframe{
width: 100%;
}


@media (max-width: 767px) {


    .service-card .map{
        width: 100%;
        }
    .service-card .map iframe{
        width: 100%;
        }

}

/* end map */








/* start social-media */


.so-med{
    position: relative;
    padding-bottom: 150px;
}

@media (max-width: 767px) {
 
    .so-med ul {

        flex-direction: column;
      }

}

.so-med ul {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
  }
  .so-med ul li {
    list-style:none;
  }
  .so-med  ul li a {
    display:block;
    position:relative;
    width:100px;
    height:100px;
    line-height:100px;
    font-size:40px;
    text-align:center;
    text-decoration:none;
    color:#d8004a;
    margin: 10px 30px;
    transition:.5s;
  }
  .so-med ul li a span {
    position:absolute;
    transition: transform .5s;
  }
  .so-med ul li a span:nth-child(1),
  .so-med ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#d8004a;
  }
  .so-med  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  .so-med ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  .so-med ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  .so-med  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  .so-med ul li a span:nth-child(2),
  .so-med ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#d8004a;
  }
  .so-med  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  .so-med  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  .so-med  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  .so-med  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
  .so-med .facebook:hover {
    color: #3b5998;
  }
  .so-med .facebook:hover span { 
    background: #3b5998;
  }
  .so-med .twitter:hover {
    color: #1da1f2;
  }
  .so-med .twitter:hover span { 
    background: #1da1f2;
  }
  .so-med .instagram:hover {
    color: #c32aa3;
  }
  .so-med .instagram:hover span { 
    background: #c32aa3;
  }
  .so-med .whatsapp:hover {
    color: #47cb23;
  }
  .so-med .whatsapp:hover span { 
    background: #47cb23;
  }
  .so-med  ul li a .twitter {
    color: #1da1f2;
  }
  .so-med ul li a:hover:nth-child(3) {
    color: #c32aa3;
  }
  .so-med  ul li a:hover:nth-child(4) {
    color: #47cb23;
  }


/* end social-media */







/* start footer */
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 20px;
    background-color: rgba(233, 30, 99, 0.12);
    justify-content: space-around;
    align-items: center;
}
footer .me{
    text-align: center;
}
footer .me h3{
    color: #fff;
    text-transform: uppercase;
}
footer .me h3 a{
    color: #d8004a;
    text-transform: uppercase;
}




.th .coby a{
    color: #fff;
}
.th .coby a span{
    color: #d8004a;
}
.th .coby a span:hover{
    color: #0062ff;
}

.th .co a {
    color: #fff;
}
.th .co a:hover {
    color: #d8004a;
}

@media (max-width: 767px) {

    footer{
        gap: 30px;
        flex-direction: column;
    }

}



/* end footer */
